<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="TaskDetail"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ore Completate: {{TotOre}}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="admin == '1'">
    <ion-item>
      <ion-label position="floating">Utente</ion-label>
      <ion-select #srep (ionChange)="getList(srep.value)">
        <ion-select-option *ngFor="let s of SalesReps" value={{s.id}}>{{s.Name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let l of list1">
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">{{l.task_name}}</ion-card-subtitle>
        <ion-card-title class="ion-text-center">{{l.taskdetail_name}}</ion-card-title>
        <ion-card-content>
          <ion-item>
            <ion-label>{{l.DateWorkStart | date : 'dd/MM/yyyy H:mm'}}</ion-label>
            <ion-text>Durata: {{l.Qty}}h</ion-text>
          </ion-item>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2">
          <ion-button  fill="clear" (click)="changeDay(-1)">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" (click)="changeDay(1)">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-label>Data</ion-label>
            <ion-datetime  display-format="DD.MM.YYYY" #date value={{data}} (ionChange)="daySelect(date.value)"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
