<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="Contabilita"></ion-menu-button>
    </ion-buttons>
    <ion-title>Acquisti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let l of list" (click)="getDettaglio(l.id)">
      <ion-card-header>
        <ion-card-subtitle>{{l.DocumentNo}}</ion-card-subtitle>
        <ion-card-title>{{l.bp_name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
