<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vendite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" class="tasto">
    Ordini
  </ion-button>
  <ion-button expand="block" class="tasto">
    Richieste
  </ion-button>
  <ion-button expand="block" class="tasto">
    a
  </ion-button>
  <ion-button expand="block" class="tasto">
    b
  </ion-button>
  <ion-button expand="block" class="tasto">
    c
  </ion-button>
</ion-content>
