<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}} Lead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome Lead<ion-text color="danger">*</ion-text></ion-label>
    <ion-input #name required="true" value={{lead.Name}} name="name" clearOnEdit="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input #phone type="tel" inputmode="numeric" value={{lead.Phone}} name="phone" clearOnEdit="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input #email type="email" inputmode="email" value={{lead.EMail}} name="email" clearOnEdit="true"></ion-input>
  </ion-item>
    <ion-item *ngIf="title != 'Inserimento'">
      <ion-label>Agente</ion-label>
      <ion-select [ngModel]="repID">
        <ion-select-option value={{repID}}>{{lead.SalesRep_Name}}</ion-select-option>
        <ion-select-option *ngFor=" let s of salesrep" value={{s.id}}>{{s.Name}}</ion-select-option>
      </ion-select>
    </ion-item>
  <ion-list *ngIf="title == 'Inserimento'">
    <ion-radio-group name="LeadOrigin" #prov>
      <ion-list-header>
        <ion-label>Provenienza Lead <ion-text color="danger">*</ion-text></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Web</ion-label>
        <ion-radio slot="start" value="Web"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Telefono</ion-label>
        <ion-radio slot="start" value="Phone"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-radio-group value={{lead.leadstatus_value}} name="LeadType" #leads>
      <ion-list-header>
        <ion-label>Stato del Lead<ion-text color="danger">*</ion-text></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Nuovo</ion-label>
        <ion-radio slot="start" value="N"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Scaduto</ion-label>
        <ion-radio slot="start" value="E"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Convertito</ion-label>
        <ion-radio slot="start" value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>In Corso</ion-label>
        <ion-radio slot="start" value="W"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  
</ion-content>
<ion-footer>
  <ion-button (click)="insertLead(name.value, phone.value, email.value, leads.value)" expand="full">
    {{button}} Lead
  </ion-button>
</ion-footer>
