<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Produzione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="scanCode()" expand="full">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <ion-input type="text" placeholder="Codice Prodotto" [(ngModel)]="prodCode" (keydown.enter)="showDist()"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="showDist()" expand="full">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-list *ngIf="item != null ">
      <ion-item>
        <ion-label>No.Ordine</ion-label>
        <ion-text>
          {{item.DocumentNo}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Prodotto</ion-label>
        <ion-text>
          {{item.Name}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Quant. Ordine</ion-label>
        <ion-text>
          {{item.MovementQty}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Quant. Residua</ion-label>
        <ion-text>
          {{item.PlannedQty}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantità</ion-label>
        <ion-input type="number" #qty></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Data del Movimento</ion-label>
        <ion-datetime required #data displayFormat="DD MM YYYY" placeholder="Inserisci data" min="2019" max="2040"></ion-datetime>
      </ion-item>
      <ion-button (click)="isComplete(item.id, data.value, qty.value)" expand="full">
        Completa Ordine
      </ion-button>
    </ion-list>
  </ion-grid>
</ion-content>
