<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio Task</ion-title>
    <ion-button slot="end" fill="clear" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{task.activity_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>{{task.activity_description}}</ion-label>
      </ion-item>
      <ion-button disabled={{Bflag}} (click)="goToLead(task.AD_User_ID)" expand="block" fill="clear">
        {{task.userto_name}}
      </ion-button>
      <ion-button (click)="taskCompleted()" expand="block" fill="clear" shape="round" text="green">
        Segna come completata
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
