<ion-header>
  <ion-toolbar>
    <ion-title>ModificaCOre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Awesome Label</ion-label>
      <ion-text color="primary">
        <h1>Awesome text</h1>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Awesome Label</ion-label>
      <ion-text color="primary">
        <h1>Awesome text</h1>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Awesome Label</ion-label>
      <ion-text color="primary">
        <h1>Awesome text</h1>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Awesome Label</ion-label>
      <ion-text color="primary">
        <h1>Awesome text</h1>
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>
