<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modifica attività</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>  
    <ion-label position="stacked">Attività</ion-label>
    <ion-text>
      <h3>{{Task.task_name}}</h3>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Giorno e Ora</ion-label>
    <ion-datetime required #data displayFormat="DD/MM/YYYY H:mm" pickedFormat="DD MM YYYY HH:mm"
                    placeholder="Inserisci data" min="2019" max="2040" value={{date}} 
                    minuteValues="0,15,30,45" hourValues=[8,9,10,11,12,13,14,15,16,17,18]></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Durata</ion-label>
    <ion-input #time type="number" value={{Task.Qty}} inputmode="numeric" min="0.5" step="0.5" placeholder="h"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Attività da svolgere:</ion-label>
    <ion-textarea value={{Task.taskdetail_name}} #descname auto-grow='true'></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descrizione</ion-label>
    <ion-textarea #desc value={{Task.taskdetail_description}} auto-grow='true'></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Completa Task</ion-label>
    <ion-checkbox (ionChange)="complete = !complete"></ion-checkbox>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button (click)="modifyTask(data.value, time.value, desc.value)" expand="full">
    Completa Modifica Attività
  </ion-button>
</ion-footer>
