<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Dettaglio Task</ion-title>
    <ion-button slot="end" fill="clear" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-text>
        <h1>{{Task.task_name}}</h1>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>{{Task.taskdetail_name}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime required #data displayFormat="DD MM YYYY HH:mm" pickedFormat="DD MM YYYY HH:mm" placeholder="Inserisci data" min="2019" max="2040"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Durata: {{Task.Qty}}h</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Numero Documento</ion-label>
      <ion-text>{{Task.task_documentno}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-textarea auto-grow='true' value={{Task.task_description}}></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button (click)="taskCompleted()" expand="block" fill="clear">
    Completa task
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full"> Applica Modifica Conteggio Ore</ion-button>
  </ion-toolbar>
</ion-footer>