<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Leads</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="visible = !visible">
        <ion-icon name="search-outline"></ion-icon> 
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="visible" [@slideInOut] >
    <ion-searchbar inputmode="text" type="text" (ionChange)="SearchLead($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="!visible" [@slideInOut] >
    <ion-segment value='N' (ionChange)="segmentChanged($event)">
      <ion-segment-button value="N">
        <ion-label>Nuovi</ion-label>
      </ion-segment-button>
      <ion-segment-button value="C">
        <ion-label>Convertiti</ion-label>
      </ion-segment-button>
      <ion-segment-button value="W">
        <ion-label>In Corso</ion-label>
      </ion-segment-button>
      <ion-segment-button value="E">
        <ion-label>Scaduti</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let s of list1" button (click)="leadDet(s.id)" detail="true">
      <ion-card-header>
        <ion-card-title>{{s.lead_name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <span><ion-icon style="color: green;" name="checkbox-outline"></ion-icon></span>
              <span>{{s.lastcompletestartdate | date : 'dd/MM/yyyy H:mm'}}</span>
            </ion-col>
            <ion-col size="6">
              <span><ion-icon style="color: rgb(3, 109, 230);" name="square-outline"></ion-icon></span>
              <span>{{s.laststartdate | date : 'dd/MM/yyyy H:mm'}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addLead('new')">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="importContact()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  

</ion-content>
