<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Area Utente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed style="margin-top: 24px;">
    <ion-row class="flex-center">
      <img style="height: 96px; width: 96px; border-radius: 50%;" src="http://www.lafenicesportebenessere.it/images/tpl_jdseattle/sagoma-uomo.jpg" alt="">
    </ion-row>
    <div>
      <h3 style="text-align: center;"><p>{{user.Name}}</p></h3>
      <div style="margin-left: 8px;">
        <p>{{user.EMail}}</p>
        <p>{{user.Phone}}</p>
        <div *ngIf="user.Supervisor">
          <h3>Responsabile</h3>
          <p>email responsabile</p>
          <p>numero responsabile</p>
        </div>
      </div>
    </div>
    <ion-button expand="block" shape="round">
      Modifica Tema
    </ion-button>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="LogOut()" expand="block" color="danger" shape="round">
      Logout
    </ion-button>
  </ion-toolbar>
</ion-footer>