<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Area Utente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed style="margin-top: 8px;">
    <ion-row class="flex-center">
      <img style="height: 80px; width: 80px; border-radius: 50%;" src="http://www.lafenicesportebenessere.it/images/tpl_jdseattle/sagoma-uomo.jpg" alt="">
    </ion-row>
    <div style="margin-left: 8px;">
      <h3><p>Nome Utente</p></h3>
      <p>{{email}}</p>
    </div>
    <ion-button expand="block" shape="round">
      Modifica Tema
    </ion-button>
    <ion-button (click)="LogOut()" expand="block" color="danger" shape="round">
      Logout
    </ion-button>
  </ion-grid>
</ion-content>
