<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="TaskDetail"></ion-menu-button>
    </ion-buttons>
    <ion-title>Task Scheduling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let l of list" (click)="getDetails(l)">
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">{{l.taskdetail_name}}</ion-card-subtitle>
        <ion-card-title class="ion-text-center">{{l.task_name}}</ion-card-title>
        <ion-card-content>
          <ion-item>
            <ion-label>{{l.DateWorkStart | date : 'dd/MM/yyyy hh:mm'}}</ion-label>
            <ion-text>Durata: {{l.Qty}}h</ion-text>
          </ion-item>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>




