<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nuova Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome Task</ion-label>
    <ion-input #name type="text" autofocus="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Business Partner</ion-label>
    <ion-select #bp>
      <ion-select-option value="peperoni">Peperoni</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Assegnato a:</ion-label>
    <ion-select #srep> 
      <ion-select-option *ngFor="let s of salesrep" value={{s.id}}>{{s.Name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descrizione</ion-label>
    <ion-textarea #desc ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Commenti</ion-label>
    <ion-textarea #com ></ion-textarea>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button (click)="createTask(name.value, bp.value, srep.value,desc.value, com.value)" expand="full">
    Inserisci Task
  </ion-button>
</ion-footer>
