<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">iDempiere</ion-title>
    <ion-buttons slot="end" style="overflow: visible;">
      <ion-button (click)="Direct()" expand="block" fill="clear" shape="round">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button *ngIf="access[0] == '1'" class="tastone" (click)="goTo('/crm')">
      <ion-text>
        <h1>CRM</h1>
      </ion-text>
    </ion-button>
    <ion-button *ngIf="access[1] == '1'" class="tastone" (click)="goTo('/service')">
      <ion-text>
        <h1>Service</h1>
      </ion-text>
    </ion-button>
    <ion-button *ngIf="access[2] == '1'" class="tastone" (click)="goTo('contabilita/acquisti')">
      <ion-text>
        <h2>Contabilità</h2>
      </ion-text>
    </ion-button>
    <ion-button *ngIf="access[3] == '1'" class="tastone" (click)="goTo('/acquisti')">
      <ion-text>
        <h1>Acquisti</h1>
      </ion-text>
    </ion-button>
    <ion-button *ngIf="access[4] == '1'" class="tastone" (click)="goTo('/info-product')">
      <ion-text>
        <h1>Magazzino</h1>
      </ion-text>
    </ion-button>
    <ion-button *ngIf="access[5] == '1'" class="tastone" (click)="goTo('/produzione')">
      <ion-text>
        <h2>Produzione</h2>
      </ion-text>
    </ion-button>
    <ion-button *ngIf="access[6] == '1'" class="tastone" (click)="goTo('/conteggio-ore')">
      <ion-text class="ion-text-wrap">
        <h2>Conteggio Ore</h2>
      </ion-text>
    </ion-button>
</ion-content>