<ion-content>
    <ion-button class="tastone" (click)="goTo('/crm')">
      <ion-text>
        <h1>CRM</h1>
      </ion-text>
    </ion-button>
    <ion-button class="tastone" (click)="goTo()">
      <ion-text>
        <h1>Service</h1>
      </ion-text>
    </ion-button>
    <ion-button class="tastone" (click)="goTo()">
      <ion-text>
        <h2>Contabilità</h2>
      </ion-text>
    </ion-button>
    <ion-button class="tastone" (click)="goTo('/ordini')">
      <ion-text>
        <h1>Ordini</h1>
      </ion-text>
    </ion-button>
    <ion-button class="tastone" (click)="goTo('/info-product')">
      <ion-text>
        <h1>Magazzino</h1>
      </ion-text>
    </ion-button>
    <ion-button class="tastone" (click)="goTo('/produzione')">
      <ion-text>
        <h2>Produzione</h2>
      </ion-text>
    </ion-button>
    <ion-button class="tastone" (click)="goTo('/conteggio-ore')">
      <ion-text class="ion-text-wrap">
        <h2>Conteggio Ore</h2>
      </ion-text>
    </ion-button>
</ion-content>