<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Magazzino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full">
    <ion-text>
      <h3>Info Product</h3>
    </ion-text>
  </ion-button>
  <ion-button expand="block">
    Inventario
  </ion-button>
  <ion-button expand="block">
    Consumo
  </ion-button>
  <ion-button expand="block">
    Trasferimento
  </ion-button>
  <ion-button expand="block">
    Entrata Merci
  </ion-button>
</ion-content>
