<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="InfoProduct"></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista Prodotti</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar inputmode="text" type="text" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let l of list" (click)="showModal(l)">
      <ion-card-header>
        <ion-card-subtitle>{{l.Value}}</ion-card-subtitle>
        <ion-card-title>{{l.Name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>