<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Magazzino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" class="tasto" (click)="Direct('/info-product/info-prod-list')">
    Info Product
  </ion-button>
  <ion-button expand="block" class="tasto" (click)="Direct('/info-product/inventario')">
    Inventario
  </ion-button>
  <ion-button expand="block" class="tasto" (click)="Direct('/info-product/consumo')">
    Consumo
  </ion-button>
  <ion-button expand="block" class="tasto" (click)="Direct('/info-product/trasferimento')">
    Trasferimento
  </ion-button>
  <ion-button expand="block" class="tasto" (click)="Direct('/info-product/materialreceipt')">
    Entrata Merci
  </ion-button>
</ion-content>
