<ion-header>
  <ion-toolbar>
    <ion-segment #list value=false (ionChange)="changeList($event)">
      <ion-segment-button value=false>
        <ion-label>To DO</ion-label>
      </ion-segment-button>
      <ion-segment-button value=true>
        <ion-label>Logs</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item *ngFor="let l of logs1" (click)="taskDetail(list.value, l.id)">
        <ion-text style="width: 10%;">
          <ion-icon *ngIf="l.ContactActivityType == 'PC'" name="call-outline"></ion-icon>
          <ion-icon *ngIf="l.ContactActivityType == 'EM'" name="mail-outline"></ion-icon>
          <ion-icon *ngIf="l.ContactActivityType == 'ME'" name="people-outline"></ion-icon>
          <ion-icon *ngIf="l.ContactActivityType == 'TA'" name="clipboard-outline"></ion-icon>
        </ion-text>
        <ion-text style="margin-left: 0px; width: 45%;">
          {{l.Name}}
        </ion-text>
        <ion-text style="width: 45%;">
          {{l.StartDate | date : 'dd/MM/yyyy H:mm'}}
        </ion-text>
      </ion-item>
    </ion-list>
</ion-content>