<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dettaglio Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon *ngIf="task.ContactActivityType == 'EM'" name="mail-outline"></ion-icon>
      <ion-icon *ngIf="task.ContactActivityType == 'TA'" name="clipboard-outline"></ion-icon>
      <ion-icon *ngIf="task.ContactActivityType == 'PC'" name="call-outline"></ion-icon>
      <ion-icon *ngIf="task.ContactActivityType == 'ME'" name="people-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Attività</ion-label>
      <ion-text>{{task.activity_name}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descrizione</ion-label>
      <ion-text>{{task.activity_description}}</ion-text>
    </ion-item>
    <ion-item (click)="LeadDetail(task.activity_ad_user_id)">
      <ion-label detail position="stacked">Cliente</ion-label>
      <ion-text color="primary">{{task.userto_name}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
